.sidebar-container {
  height: 100vh;
  position: fixed;

  left: 8%;
  overflow-x: hidden;
  /* box-shadow: 0 0 30px rgb(0 0 0/5%); */
}

.sidebar-title {
  color: #868a9b !important;
  text-decoration: none;
}
.sidebar-title:hover {
  color: black !important;
}
