.sidebar-title {
  color: #868a9b !important;
  text-decoration: none;
  font-size: large;
  font-weight: 600;
}
.sidebar-title:hover {
  color: black !important;
}
@media screen and (min-width: 700px) {
  .sidebar-container {
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    /* left: 8%; */
    overflow-x: hidden;
    overflow: auto;
    /* box-shadow: 0 0 30px rgb(0 0 0/5%); */
  }
}
@media screen and (max-width: 700px) {
  .sidebar-container {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-container a {
    display: float; /* Change float to display block */
    text-align: center;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar-container a {
    text-align: center;
    float: none;
  }
}
.mobile-view {
  display: none;
}
@media (max-width: 600px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
    align-items: center;
  }
  .HamburgerMenu {
    color: black;
    position: absolute;
    right: 2%;
    cursor: pointer;
  }
}
