.skills-container {
  /* height: 100vh; */
  box-shadow: -10px 0 30px rgb(0 0 0/5%);
}
.skills-header {
  padding-top: 40px;
}

.skillsTab-container {
  background-color: #f7f7f7;
  color: #868a9b;
}
.slick-prev {
  z-index: 1;
  color: black;
}
.slick-prev::before {
  color: black;
}
.slick-next {
  /* right: 3% !important; */
  z-index: 1;
}
.slick-next::before {
  color: black;
}
.skills-tab {
  background-color: #f7f7f7;
  color: #868a9b;
  flex-direction: column;
}
.skill-icon:hover {
  color: #000;
}
.skill-header {
  color: #000;
}
